.taskbar {
    position: absolute;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    z-index: 300;
    border: 1px solid transparent;
    color: #000;
    transition-duration: 0.3s;
}
.taskbar::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 10px;
    background-color: transparent;
}
/* .taskbar:hover{
    bottom: 0;
} */

.taskbar > div{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: auto;
    border: 1px solid transparent;
}

.taskbar .center {
    justify-content: center;
    order: 20;
}

.taskbar .left {
    justify-content: right;
    order: 10;
}

.taskbar .right {
    justify-content: left;
    order: 30;
    padding-left: 10px;
}

.taskbar .start-btn {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskbar .start-btn div{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.taskbar .start-btn div:hover{
    background-color: #f1f1f1;
    border-color: #ddd;
}

.taskbar .container div:hover{
    background-color: #f1f1f1;
    border-color: #ddd;
}

.taskbar .start-btn div img{
    height: 25px;
    width: 25px;
}

.taskbar .container {
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
}

.taskbar .apps {
    padding: 5px 0;
}

.taskbar .apps ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    gap: 5px;
}

.taskbar .apps ul li{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

.taskbar .apps ul li:hover{
    background-color: #f1f1f1;
    border-color: #ddd;
}

.taskbar .apps ul li img{
    height: 30px;
    width: 30px;
}

.taskbar .time {
    gap: 5px;
}

.taskbar .time div{
    flex-direction: column;
    font-size: 12px;
    user-select: none;
}
.taskbar .time div:active{
    opacity: 0.5;
}

.taskbar .tools div{
    gap: 10px;
}
.taskbar .tools div:active{
    opacity: 0.5;
}

.taskbar .container div{
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    height: 40px;
}
.taskbar .show-desktop-btn{
    height: 20px;
    width: 2px;
    background-color: #0085ff;
}

.taskbar .widgets div img {
    width: 30px;
    height: 30px;
}

.taskbar .widgets div{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid transparent;
}
.taskbar .widgets div:hover{
    background-color: #f1f1f1;
    border-color: #ddd;
}
.taskbar.boxs-style{
    right: 0;
    left: 0;
}

.taskbar.boxs-style.left-style .left{
    flex: none;
    border-width: 0;
}

.taskbar.boxs-style.left-style .right{
    flex: 2;
}

.taskbar.boxs-style.left-style .center{
    justify-content: left;
}

.taskbar.boxs-style > div:not(.center) {
    gap: 10px;
}

.taskbar.boxs-style .center {
    border: 1px solid #ddd;
    background-color: #fff;
}

.taskbar.boxs-style .left .container,.taskbar.boxs-style .right .container{
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
}